html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: "Oswald", sans-serif;
    height: 10000px;
}



header{
    position: relative;
    width: 100%;
    height: 7rem;
    
}

.h1-header{
    width: 100%;
    height: 100%;
    padding: 0 8rem;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
}

.h1-header::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    aspect-ratio: 1/1;
    height: 100%;
    background-image: url(../imgs/logo-trasparente.png);
    background-repeat: no-repeat;
    background-position: center;
}

main{
    width: 100%;
    background-color: rgb(255, 248, 248);
    padding-top: 3.5rem;
}

section{
    width: 80rem;
    margin: 0 auto;
}


/* ************* BUTTONS *********** */
.buttons{
    width: inherit;
    background-color: white;
    padding: 1.2rem 0 .8rem 5rem;
    margin-bottom: .5rem; 
}


.button{
    font-size: 1.2rem;
    padding: .5rem .7rem;
    border: none;
    border-radius: .4rem;
    font-weight: 600;
}


.button-blue{
    background-color: rgb(61, 184, 255);
    color: white;
    border: .1rem solid rgb(0, 162, 255);
}

.button-white{
    border: .1rem solid grey;
    color: grey;
    background-color: white;
}

/* ************* TASKS *********** */

.tasks{
    background-color: white;
    width: inherit;
}

ul{
    list-style: none;
}